<div class="row">
	<div class="col-md-4">
		<%= image_tag @stock.stock_img.url(:stock_index), class: "stock-show" %>
	</div>

	<div class="col-md-8">
	<div class="stock-info">
		<h2 class="stock-title"><%= @stock.name %></h2>
		<h3 class="info-text"><span>Symbol: </span><%= @stock.symbol %></h2>
		<div class="col-md-6">
			<h3 class="info-text"><span>Prev Close: </span><%= @data[0].close %><h3>
			<h3 class="info-text"><span>Low: </span><%= @data[0].low %><h3>
			<h3 class="info-text"><span>52wk Low: </span><%= @data[0].low_52_weeks  %><h3>
			<h3 class="info-text"><span>Mkt Cap: </span><%= @data[0].market_capitalization   %><h3>
			<h3 class="info-text"><span>1Y Target: </span><%= @data[0].one_year_target_price   %><h3>

		</div>
		<div class="col-md-6">
			<h3 class="info-text"><span>Open: </span><%= @data[0].open %><h3>
			<h3 class="info-text"><span>High: </span><%= @data[0].high %><h3>
			<h3 class="info-text"><span>52wk High: </span><%= @data[0].high_52_weeks %><h3>
			<h3 class="info-text"><span>Volume: </span><%= @data[0].volume  %><h3>
			<h3 class="info-text"><span>Average daily volume: </span><%= @data[0].average_daily_volume  %><h3>

		</div>
		<h2 class="avg-rating">StockSense Average Rating</h2>
		<div class="average-review-rating" data-score=<%= @average_review %>></div>
		<span class="number-of-reviews">Based on <%= @stock.reviews.count %> reviews</span>

		<p><%= @stock.description %></p>
	</div>
</div>
<!-- 		<h4 class="stock-description"><%= @data[0].open %></h2>
	</div>
</div>
<!-- <p> <%= @ur %> -->
<!--
<% render html: "#{@jsonInfo}".html_safe %>
<iframe id="foo" /> -->


<!-- StockTwists widgets -->
<div class="row">
	<div class="col-md-6">
		<div id="stocktwits-widget-news"></div><a href='http://stocktwits.com' style='font-size: 0px;'>StockTwits</a>
		<script type="text/javascript" src="http://stocktwits.com/addon/widget/2/widget-loader.min.js"></script>
		<script type="text/javascript">
		STWT.Widget({container: 'stocktwits-widget-news', symbol: '<%= @stock.symbol %>', width: '500', height: '300', limit: '15', scrollbars: 'true', streaming: 'true', title: 'What others are talking about <%= @stock.symbol %>?', style: {link_color: '4871a8', link_hover_color: '4871a8', header_text_color: '000000', border_color: 'cecece', divider_color: 'cecece', divider_color: 'cecece', divider_type: 'solid', box_color: 'f5f5f5', stream_color: 'ffffff', text_color: '000000', time_color: '999999'}});
		</script>
	</div>

<p>
	<%= @page_content%>
	<%= @url%>
</p>


	<div class="col-md-5">
		<!-- reviews/ratings -->
		<div class="reviews">
			<h1>Investors' Reviews</h1>
			<%= render @stock.reviews %>
			<div>
				<%= link_to "Add Review", new_stock_review_path(@stock), class: "btn btn-custom" %>
			</div>
		</div>
	</div>
</div>

<div class="links btn-group">
	<%= link_to "Back", root_path, class: "btn btn-custom" %>

	<% if user_signed_in? %>
		<% if @stock.user_id == current_user.id %>
			<%= link_to "Edit", edit_stock_path(@stock), class: "btn btn-custom" %>
			<%= link_to "Delete", stock_path(@stock), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
		<% end %>
	<% end %>
</div>

<%
  @file_path_dir = (asset_path "star-half.png").sub(/\/[^\/]+\.png/, "")
  @file_path_star_half = (asset_path "star-half.png").match(/\/([^\/]+\.png)/)
  @file_path_star_off = (asset_path "star-off.png").match(/\/([^\/]+\.png)/)
  @file_path_star_on = (asset_path "star-on.png").match(/\/([^\/]+\.png)/)
%>


<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '<%= @file_path_dir  %>',
		starHalf: '<%= @file_path_star_half  %>',
		starOn: '<%= @file_path_star_on  %>',
		starOff: '<%= @file_path_star_off  %>'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '<%= @file_path_dir  %>',
		starHalf: '<%= @file_path_star_half  %>',
		starOn: '<%= @file_path_star_on  %>',
		starOff: '<%= @file_path_star_off  %>',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/760_RC08/embed_loader.js"></script>
<script type="text/javascript">
var stock= '<%=@stock.name%>';
	trends.embed.renderExploreWidget(
		"TIMESERIES",
		{"comparisonItem":[{"keyword":stock,"geo":"","time":"today 5-y"}],
		"category":0,"property":""},
		{"exploreQuery":"q=amazon"});
</script>
