<%=  simple_form_for([@stock, @stock.reviews.build]) do |f| %>
	<div id="rating-form">
		<label>Rating</label>
	</div>
	<%= f.input :comment %>
	<%= f.button :submit, class: "btn-custom2" %>
<% end %>


<%
  @file_path_dir = (asset_path "star-half.png").sub(/\/[^\/]+\.png/, "")
  @file_path_star_half = (asset_path "star-half.png").match(/\/([^\/]+\.png)/)
  @file_path_star_off = (asset_path "star-off.png").match(/\/([^\/]+\.png)/)
  @file_path_star_on = (asset_path "star-on.png").match(/\/([^\/]+\.png)/)
%>


<script>
	$('#rating-form').raty({
		scoreName: 'review[rating]',
		path: '<%= @file_path_dir  %>',
		starHalf: '<%= @file_path_star_half  %>',
		starOn: '<%= @file_path_star_on  %>',
		starOff: '<%= @file_path_star_off  %>'
	});
</script>